@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color: #333;
}

.title {
	font-family: "Montserrat", Arial, Sans Serif;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	-webkit-user-select: none;
	user-select: none;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	background-position: center;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 9vw;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

#gif {
	text-transform: uppercase;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

#caption {
	padding-left: 10%;
	padding-right: 10%;
    font-size: calc(.8 * (1.5vh + 1.1vw));
}
